<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Practice</title>
</head>
<body>

    <h1>This is the home page.</h1>
    <h3>Performing  Operation 1+2= <%= 1+2 %></h3>
    <h3><%= "Kajal Jadhao".toUpperCase() %></h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates animi, facere sint unde, atque cumque illo dicta hic mollitia odio iste distinctio at velit amet voluptatum, similique voluptas saepe delectus!</p>
    <button>click me</button>
    
</body>
</html>